*{
    box-sizing: border-box;
}
html{
   
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
.nav-logo-img{
    width:150px;
    height:20px;
    margin-right: 2rem;
}
.menu{
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
}
.menu-link{
    text-decoration: none;
    color: #081D43;
    padding: 0 1rem;
}
.nav{
    display: flex;
    align-items: center;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
.header-link{
    background-color: #0050C8;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.8rem 1.5rem;
}
/*header bottom*/
.header-bottem{
    margin-top: 5.5rem;
}
.header-content-img{
    width: 100%;
    height: 372px;
    border-radius: 4px;
}
.header-content{
    display: flex;
    align-items: center;
}
.header-content-left{
flex-basis: 50%;
}
.header-content-right{
flex-basis: 50%;
}
.header-content-title{
    color: #081D43;
    line-height: 2.5rem;
}
.header-content-text{
    color: #6C7890;
    line-height: 2rem;
}
.header-content-links{
display: flex;
margin-top: 1.5rem;
}
.header-content-link{
    background-color: #0050C8;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    margin-right: 0.8rem;
    color: #fff;
    display: block;
    width: 10rem;
    text-align: center;
}
.header-content-link:nth-child(1){
background-color:#87BC25 ;
}
.header-content-wrapper{
    max-width: 28rem;
}

/*بخش main*/
.main{
    padding: 6rem 0;
}
.works{
    text-align: center;
}
.works-content{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-around;
}
.works-test,.portfolio-test{
    color: #6C7890;
    margin-bottom: 0;
}
.works-title,.portfolio-title{
   color:#081D43;
   margin-top: 0.8;
}
.works-content-title{
    color: #081D43;
}
.works-content-text{
    color: #6C7890;
    line-height: 2rem;
    max-width: 16rem;
}
.works-img{
    width: 31rem;
    margin: 0 auto;
}
.works-img-img{
    width: 100%;
}
/*comment main بخش */
.person-comment{
    background-color: #2F5BEA;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
.comments{
    display: flex;
    justify-content: space-between;
}
.comment{
   border-radius: 0.5rem;
   margin: 1rem;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 18rem;
   flex-basis: 20rem;
}
.comment-img{
    width: 28px;
    height: 28px;
    border-radius: 100%;
}
.person-comment-title{

}
.person-comment-text{

}
.comment-body{
    color:#7E8085 ;
    line-height: 1.5rem;
    margin: 0;
}
.comment-person{
    color: #000000;
    margin: 0 0 0 0.5rem;
}
.comment-content{
    text-align: left;
    padding: 1.2rem;
}
.comment-info{
    display: flex;
    padding: 0.8rem 1.2rem;
    border-top:1px solid #E8EBEF;
    align-items: center;
}
.comment-container{
    max-width: 65rem;
    margin: 3.5rem auto 0 auto;
}
/*portfolioبخش*/
.portfolio{
    text-align: center;
    padding: 2rem 0;
}
.portfolio-item{
    width: 23rem;
}
.portfolio-img{
    width: 100%;
}
.portfolio-item{
    flex-basis: 23rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
}
.portfolio-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}
/*footer بخش */
.newsletters{
    background-color: #2C57E4;
    padding: 4.5rem 0;
    color: #fff;
}
.newsletters-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newsletter-btn{
    background-color: #2F5BEA;
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}
.newsletters-email{
    display: flex;
    background-color: #fff;
    padding: 0.4rem 0.4rem 0.4rem 1.5rem;
    border-radius: 0.5rem;
    justify-content: center;
    flex-basis: 20rem;
}
.newsletters-txt{
    border: none;
    outline: none;
}
.copy-right{
    color: #6C7890;
    padding: 2rem 0;
}
.copyright-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}








@media only screen and (max-width:1200px){
    .container{
        max-width: 960px;
    }
}
@media only screen and (max-width:992px){
    .container{
        max-width: 720px;
    }
}
@media only screen and (max-width:768px){
    .container{
        max-width: 540px;
    }
}
@media only screen and (max-width:576px){
    .container{
        max-width: 100%;
    }
}

